<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brand_name_placeholder" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>app_name_placeholder</name>
    <description>
        app_name_placeholder app
    </description>

    <author>
        brand_name_placeholder
    </author>

    <content src="content/phonegap/app_name_placeholder/en.html" />

    <preference name="phonegap-version" value="3.7.0" />

    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false"/>

    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <!-- File preferences -->
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />

    <icon src="icon.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1.0.0" />

    <!-- Phonegap Build Plugins -->
    <gap:plugin name="cordova-plugin-file-transfer" source="npm" version="^1.0.0" />
    <gap:plugin name="cordova-plugin-device" source="npm" version="^1.0.0" />
    <gap:plugin name="cordova-plugin-geolocation" source="npm" version="^1.0.0" />
    <gap:plugin name="cordova-plugin-network-information" source="npm" version="^1.0.0" />
    <!-- Console plugin is not relevant for Build -->
    <gap:plugin name="phonegap-plugin-contentsync" source="npm" version="1.1.12" />
    <gap:plugin name="cordova-plugin-dialogs" source="npm" version="^1.1.0" />
    <gap:plugin name="cordova-plugin-statusbar" source="npm" version="^1.0.0" />
    <gap:plugin name="cordova-plugin-splashscreen" source="npm" version="^1.0.0" />
    <gap:plugin name="cordova-plugin-camera" source="npm" version="^1.1.0" />
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="^1.0.0" />
    <gap:plugin name="com.telerik.plugins.nativepagetransitions" version="0.2.2" />
    <gap:plugin name="adobe-mobile-services" source="npm" version="4.7.0" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
    <gap:plugin name="cordova-plugin-transport-security" source="npm" version="0.1.1" />

    <!-- PhoneGap CLI Plugins - note that versions differ from PhoneGap Build Plugins above -->
    <plugin name="cordova-plugin-file-transfer" spec="^1.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^1.0.0" />
    <plugin name="cordova-plugin-console" spec="^1.0.0" />
    <plugin name="phonegap-plugin-contentsync" spec="1.1.12" />
    <plugin name="cordova-plugin-dialogs" spec="^1.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^1.0.0" />
    <plugin name="cordova-plugin-camera" spec="^1.1.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.0.0" />
    <plugin name="com.telerik.plugins.nativepagetransitions" spec="https://github.com/Telerik-Verified-Plugins/NativePageTransitions#0.4.1" />
    <plugin name="adobe-mobile-services" spec="4.7.0" />
    <plugin name="com.phonegap.plugins.pushplugin" spec="https://github.com/phonegap-build/PushPlugin#1979d972b6ab37e28cf2077bc7ebfe706cc4dacd" />
    <plugin name="cordova-plugin-transport-security" spec="0.1.1" />

    <!-- Platforms -->
    <gap:platform name="ios" />
    <gap:platform name="android" />

</widget>
